<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>

    <ion-title *ngIf="item">{{item.title}}</ion-title>

    <ion-buttons slot="end">
      <button ion-button icon-only (click)="facebookButtonTapped()" style="background-color: white;">
      <ion-icon name="logo-facebook" style="margin-right: -10px; font-size: 40px; background-color: white;"></ion-icon>
      </button>

      <button ion-button icon-only (click)="favButtonTapped()" style="background-color: white;">
        <ion-icon *ngIf="icon" [src]="icon" [color]="primary" style="font-size: 30px; background-color: white;"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list *ngIf="item">

      <ion-item lines="none">
        <div>
          <ion-label class="title">{{item.title}}</ion-label>
          <ion-badge style="background-color: green; margin-right: 5px;"> {{item.ranks_history.length}}x ranked </ion-badge>
          <ion-badge style="margin-right: 5px;">{{item.age_group}}</ion-badge>
          <ion-badge> &#163;{{item.price}} </ion-badge>
        </div>
      </ion-item>

      <hr>

      <ion-item lines="none" style="margin-top: 10px;">
        <div>
          <div style="float: left; width: 49%;">
            <ion-label class="author-name">{{item.author}}</ion-label>
            <ion-label class="author-underline">Author</ion-label>
          </div>
          <div style="float: right; width: 49%;">
            <ion-label class="author-name">{{item.publisher}}</ion-label>
            <ion-label class="author-underline">Publisher</ion-label>
          </div>
        </div>
      </ion-item>

      <hr>

      <ion-item class="description" lines="none"><div>{{item.description}}</div></ion-item>

      <ion-item lines="none" *ngIf="amazonUrl" (click)="openLink(amazonUrl)"><div style="color: #003366; font-size: 0.8em;">{{amazonUrl}}</div></ion-item>

      <hr>

    <ion-item lines="none">
      <div>
      <ion-list *ngIf="reviews">

        Reviews:

        <ion-item button *ngFor="let review of reviews" (click)="openLink(review.url)" lines="none">
          <div class="reviews-item-div">
            <ion-label class="reviews-byline">{{review.byline}}<br></ion-label>
            <ion-label class="reviews-summary">{{review.summary}}</ion-label>
          </div>
        </ion-item>

      </ion-list>
      </div>

    </ion-item>

    </ion-list>
</ion-content>
