<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <!-- header -->
    <ion-label>Age Group</ion-label>
    <!-- dropdown menu -->
    <ion-select [(ngModel)]="selectedAge">
      <ion-select-option *ngFor="let age of ageGroups; let i = index"
      [selected]="i==0"
      value="{{age}}">
        {{age}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" name="field" [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Author</ion-label>
    <ion-input type="text" name="field" [(ngModel)]="author"></ion-input>
  </ion-item>

  <div style="text-align: center;">
  <ion-button shape="round" id="searchButton" (click)="search()">Search</ion-button>
  </div>

  <!-- list view of content -->
  <ion-list>
  <ion-item button color="light" *ngFor="let item of books" (click)="goToDetailsPageFor(item.title)">
    <ion-label>{{item.title}}<br>
      <span class="sublabel">{{item.description}}</span>
    </ion-label>
  </ion-item>
</ion-list>

</ion-content>
