<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Randomizer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card *ngIf="item" (swipe)="randomize()">

      <ion-item lines="none">
        <div>
          <ion-label class="title">{{item.title}}</ion-label>
          <ion-badge style="background-color: green; margin-right: 5px;"> {{item.ranks_history.length}}x ranked </ion-badge>
          <ion-badge style="margin-right: 5px;">{{item.age_group}}</ion-badge>
          <ion-badge> &#163;{{item.price}} </ion-badge>
        </div>
      </ion-item>

      <a href='https://www.freepik.com/free-photo/opened-book-and-coffee-with-bouquet_1459905.htm'>
        <img src="assets/book.png" alt="detailsPageImage" stlye="height: 15%; margin-left: -30px;">
      </a>

      <ion-item>
        Author
        <ion-label style="text-align: right; color: #d3d3d3; white-space: pre-line;">
          {{item.author}}
        </ion-label>
      </ion-item>

      <ion-item>
        Publisher
        <ion-label item-end style="text-align: right; color: #d3d3d3; white-space: pre-line;">
          {{item.publisher}}
        </ion-label>
      </ion-item>

      <ion-item class="description" lines="none"><div>{{item.description}}</div></ion-item>

      <ion-row style="text-align: center;">
        <ion-col>
          <button ion-button icon-only (click)="WAButtonTapped()" style="background-color: white;">
          <ion-icon name="logo-whatsapp" style="font-size: 30px; background-color: white;"></ion-icon>
          </button>

          <button ion-button icon-only (click)="twitterButtonTapped()" style="background-color: white;">
          <ion-icon name="logo-twitter" style="font-size: 30px; background-color: white;"></ion-icon>
          </button>

          <button ion-button icon-only (click)="facebookButtonTapped()" style="background-color: white;">
          <ion-icon name="logo-facebook" style="font-size: 30px; background-color: white;"></ion-icon>
          </button>

          <button ion-button icon-only (click)="favButtonTapped()" style="background-color: white;">
            <ion-icon *ngIf="icon" [src]="icon" [color]="primary" style="font-size: 25px; background-color: white;"></ion-icon>
          </button>
      </ion-col>
      </ion-row>

      <ion-item lines="none" *ngIf="amazonUrl" (click)="openLink(amazonUrl)"><div style="color: #003366; font-size: 0.8em;">{{amazonUrl}}</div></ion-item>

      <hr>

    <ion-item lines="none">
      <div>
      <ion-list *ngIf="reviews">

        <ion-label *ngIf="reviewString">{{reviewString}}</ion-label>

        <ion-item button *ngFor="let review of reviews" (click)="openLink(review.url)" lines="none">
          <div class="reviews-item-div">
            <ion-label class="reviews-byline">{{review.byline}}<br></ion-label>
            <ion-label class="reviews-summary">{{review.summary}}</ion-label>
          </div>
        </ion-item>

      </ion-list>
      </div>

    </ion-item>

  </ion-card>

  <div style="text-align: center;">
    <ion-button shape="round" (click)="randomize()">Find me a new random book!</ion-button>
  </div>

</ion-content>
