<ion-header>
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item button *ngFor="let item of books" (click)="goToDetailsPageFor(item.title)" style="background-color: white;" lines="none">
        <ion-card style="padding: 10px">
          <ion-label>{{item.title}}<br>
            <span class="sublabel">{{item.description}}</span>
          </ion-label>
        </ion-card>
      </ion-item>
</ion-list>

</ion-content>
