<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let title of books" (click)="goToDetailsPageFor(title)">
      <!-- <ion-item button *ngFor="let item of books" (click)="goToDetailsPageFor(item)" style="background-color: white;" lines="none">
        <ion-card style="width: 100%; height: 95%;">
          <ion-label>{{item}}</ion-label>
        </ion-card>
      </ion-item> -->

    <ion-card>

      <img src="assets/book.png" style="width: 100%;">

      <ion-card-content>
        <ion-card-title style="text-align: center;">
          {{title}}
        </ion-card-title>
      </ion-card-content>

      <ion-row no-padding style="margin-top:-20px;">
        <ion-col>
        </ion-col>
        <ion-col text-center>
          <ion-button color="secondary" shape="round" [attr.clear]="true" size="small" (click)="deleteFromFav(title)">
            Delete from Favorites
          </ion-button>
        </ion-col>
        <ion-col text-right>
        </ion-col>
      </ion-row>

  </ion-card>

</ion-list>

</ion-content>
