// .welcome-card ion-img {
//   max-height: 35vh;
//   overflow: hidden;
// }

ion-item {
  background-color: #fff;
  width: 95%;
  margin: 10px auto;
  font-weight: bold;
  border-radius: 20px;
}

.sublabel {
  font-size: var(--les-small);
}
